<!-- app/views/sessions/new.html.erb -->
<h2>Zaloguj się</h2>

<%= form_tag login_path do %>
  <label for="login">Email:</label>
  <%= text_field_tag :login %>

  <label for="password">Hasło:</label>
  <%= password_field_tag :password %>

  <%= submit_tag 'Zaloguj się' %>
<% end %>
