<!-- app/views/users/show.html.erb -->

<h2>Profil użytkownika</h2>

<p><strong>Email:</strong> <%= @user.login %></p>
<p><strong>Nazwa:</strong> <%= @user.name %></p>

<%= link_to 'Edytuj profil', edit_user_path(@user) %>
<%= link_to 'Usuń konto', user_path(@user), method: :delete, data: { confirm: 'Czy na pewno chcesz usunąć swoje konto?' } %>
