<!-- app/views/home/index.html.erb -->

<h1>Witaj w SecureEntry!</h1>

<% if user_signed_in? %>
  <p>Zalogowany jako: <%= current_user.login %></p>
<% else %>
  <p>Aby korzystać z aplikacji, zaloguj się lub zarejestruj.</p>
<% end %>