<!-- app/views/home/index.html.erb -->

<h1>Witaj w SecureEntry!</h1>

<% if user_signed_in? %>
  <% if current_user.isadmin %>
    <p>Witaj adminie!</p>
    <!-- Dodaj tutaj zawartość widoku dla administratora -->
  <% else %>
    <p>Witaj użytkowniku!</p>

    <h1>Pomieszczenia do których masz dostęp:</h1>

    <% if @rooms && @rooms.any? %>
      <ul>
        <% @rooms.each do |room| %>
          <li><%= room.name %></li>
    <% end %>
      </ul>
    <% else %>
      <p>Nie masz dostępu do żadnych pomieszczeń.</p>
    <% end %>
  <% end %>
  <% else %>
    <p>Aby korzystać z aplikacji, zaloguj się lub zarejestruj.</p>
<% end %>