<div id="<%= dom_id lost_card %>">
  <p>
    <strong>Time:</strong>
    <%= lost_card.time %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= lost_card.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= lost_card.user_id %>
  </p>

</div>
