<h1>Editing lost card</h1>

<%= render "form", lost_card: @lost_card %>

<br>

<div>
  <%= link_to "Show this lost card", @lost_card %> |
  <%= link_to "Back to lost cards", lost_cards_path %>
</div>
