<p style="color: green"><%= notice %></p>

<h1>Twoje pomieszczenia</h1>

<% if @rooms.any? %>
  <ul>
    <% @rooms.each do |room| %>
      <li><%= room.name %></li>
    <% end %>
  </ul>
<% else %>
  <p>Nie masz dostępu do żadnych pomieszczeń.</p>
<% end %>
